*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
*.bat
*.jar
**/gradle/
gradle/wrapper/
app/gradlew
**local.properties
**.apk
app/release/
*.properties


